* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#root {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.animal_img {
    width: 300px;
}
.block {
    border: 1px solid teal;
    padding: 15px;
    margin: 15px;
    background: transparent;
    width: 500px;
}
.animal_dis {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.animal_description {
    font-size: 24px;
    font-family: Ubuntu, sans-serif;
    width: 200px;
    padding: 10px;
}
.animal_title {
    font-family: sans-serif;
    font-size: 36px;
    padding: 10px;
}
.App {
    width: 800px;


}
.app_title {
    font-family: sans-serif;
    font-size: 36px;
    padding: 20px;
}
.animal_form {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 650px;
    flex-wrap: wrap;
}


.block-enter {
    transform: translateX(-350px);
    opacity: 0;
}
.block-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms ease-in;
}
.block-exit {
    opacity: 1;
}
.block-exit-active {
    opacity: 0;
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
.page__wrapper{
    margin-top: 30px;
    display: flex;
}
.page {
    border: 1px solid teal;
    padding: 3px;
    cursor: pointer;
}
.page_active {
    border: 2px solid orange;
    font-weight: bold;
}
.navbar__block {
    height: 100px;
    width: 100vh;
    background: rgba(1,1,1, 11%);
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding: 30px;

;
}
.navbar__block_item {
    display: flex;
    gap: 5px;

    align-items: center;
}
.span_class {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}
